html{
  height: 1000px
}

body {
  background: #222;
}

img{
  height: 70%;
}

.scene {
  perspective: 1000;
  width: 10em;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
}

.scene-2 {
  perspective: 1000;
  width: 10em;
  position: absolute;
  top: 500px;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 350px;
  text-align: center;
  text-transform: uppercase;
}

.package {
  color: #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 100px;
  height: 350px;
}

.package:hover {
    transform: rotateY(90deg);
  }

.right {
  background: #fff;
  transform: rotateY(-90deg) translate3d(0, 0, 3em);
}

.front {
  background: #222229;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 3em);
}